.navbg {
    background-color: var(--lightbg);
}
.header {
    position: relative;
    z-index: 9;
}
.menu-active {
    /* display: block !important; */
    visibility: visible !important;
    opacity: 1 !important;
}
/* header starts */
/* top heading */

.top-heading {
    text-align: center;
    padding: 14px 0;
    text-transform: uppercase;
    color: var(--whitenz);
    background-color: var(--primary-color);
}
.top-heading p {
    font-weight: 500;
    letter-spacing: 2.5px;
    line-height: 20.16px;
}

/* top heading ends */
/* navbar starts */

.navbar-top {
    border-bottom: 1px solid rgba(18,18,18,0.2);
}
.copyright-row,
.navigation {
    display: flex;
    align-items: center;
    padding: 20px 0;
}
.navigation .item-left,
.navigation .item-center,
.navigation .item-right {
    flex: 0 0 33.33%;
}
.navigation .item-center {
    display: flex;
    justify-content: center;
}
.navigation .item-right {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
}
.navigation .item-right .primary-button,
.navigation .item-right .secondary-button {
    font-size: 18px;
    font-weight: 700;
}
.social-icons {
    display: flex;
    gap: 30px;
    font-size: 1rem;
}
.item-center .logo {
    height: 40px;
}
.item-right .search {
    cursor: pointer;
}
.item-right .hamburger {
    position: relative;
    height: 18px;
    width: 23px;
    cursor: pointer;
    border: 1px solid transparent;
}
.item-right .hamburger span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: block;
    height: 2.5px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--primary-color);
}
.item-right .hamburger span:nth-child(1) {
    top: 0;
    width: 12px;
}
.item-right .hamburger span:nth-child(3) {
    top: 100%;
    width: 16px;
}

/* navbar starts ends */
/* bottom navbar */
.menu {
    padding: 5px 0;
}
.menu .main-menu {
    display: flex;
    justify-content: center;
}
.search-form .form-control {
    padding: 10px 70px 10px 10px;
    border: 1px solid var(--primary-color);
    transition: all 0.3s ease;
}
.search-form .form-control::placeholder {
    font-size: 14px;
}
.search-form button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellownz);
}
.main-menu .nav-link {
    color: var(--primary-color) !important;
    display: inline-block;
    padding: 5px 40px;
    border-right: 1px solid rgba(18,18,18,0.1);
}
.main-menu li:last-child .nav-link {
    border-right: none;
}
.main-menu .nav-link.active,
.main-menu .nav-link:hover {
    /* font-weight: 500; */
    outline: 1px solid var(--lightbg);
    border-right: 1px solid var(--yellownz);
    background-color: var(--yellownz);
}
/* bottom navbar ends */
/* header ends */
@media (max-width: 992px){
    .header {
        position: sticky;
        top: 0;
    }
    .navbg {
        background-color: var(--whitenz);
    }
    .navigation .item-left {
        display: none;
        flex: 0 0 0%;
    }
    .navigation .item-center,
    .navigation .item-right {
        flex: 0 0 50%;
    }
    .navigation .item-center {
        justify-content: flex-start;
    }
    .item-right div:not(.hamburger),
    .item-right a {
        display: none;
    }
    .navbar-bottom {
        position: relative;
    }
    .menu {
        padding: 0;
    }
    .menu .main-menu {
        display: block;
        position: fixed;
        top: 102px;
        width: 100%;
        background-color: var(--whitenz);
        visibility: hidden;
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.3s ease;
    }
    .menu .main-menu.menu-active {
        transform: translateX(0%);
    }
    .main-menu li {
        border-bottom: 1px solid rgba(18,18,18,0.1);
    }
    .main-menu .nav-link {
        display: block;
        border-right: none;
        padding: 0;
    }
    .main-menu .nav-link:hover {
        outline: unset;
        border-right: unset;
        background-color: var(--whitenz);
    }

    .scroll-down {
        display: none;
    }
}
@media (min-width: 993px){
    .main-menu li.mobile-list,
    .hamburger {
        display: none;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .top-heading p {
        letter-spacing: 0;
        font-size: 10px;
        line-height: 12.6px;
    }
    .item-center .logo {
        height: 100%;
        width: 108px;
    }
    .navigation {
        padding: 18px 16px;
    }
    .menu .main-menu {
        top: 102px;
    }
    .main-menu li {
        padding: 10px 16px;
    }
}
@media (min-width: 480px) and (max-width: 576px) {
    .top-heading p {
        letter-spacing: 1px;
        font-size: 11px;
        line-height: 14px;
    }
    .item-center .logo {
        height: 100%;
        width: 108px;
    }
    .navigation {
        padding: 18px 30px;
    }
    .menu .main-menu {
        top: 104px;
    }
    .main-menu li {
        padding: 10px 30px;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .top-heading p {
        letter-spacing: 1.5px;
        font-size: 12px;
        line-height: 1;
    }
    .item-center .logo {
        height: 100%;
        width: 108px;
    }
    .navigation {
        padding: 18px 50px;
    }
    .menu .main-menu {
        top: 102px;
    }
    .main-menu li {
        padding: 10px 50px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .top-heading p {
        letter-spacing: 2px;
        font-size: 14px;
        line-height: 1;
    }
    .item-center .logo {
        height: 100%;
        width: 108px;
    }
    .navigation {
        padding: 18px 50px;
    }
    .menu .main-menu {
        top: 104px;
    }
    .main-menu li {
        padding: 10px 50px;
    }
}