:root {
    /* colors */
    --primary-color: #121212;
    --secondary-color: #D7C3A3;
    --orangenz: #DD5D22;
    --whitenz: #fff;
    --para-color: #858184;
    --goldnz: #D18B22;
    --yellownz: #FFE01B;
    --lightbg: #FAFAFA;

    --body-colorsm: #FBFDFE;
    --news-colorsm: #F6F8F9;
    --copy-colorsm: #4D524B;

    /* gradients */
    --gray-grad: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;
    --black-grad: linear-gradient(284.01deg, #1A1E21 6.36%, #1A1E21 68.16%, rgba(45, 49, 51, 0.92) 83.98%, #3F4245 101.28%);
    --shadow-grad: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);

    /* fonts */
    --calibiri: calibriregular;
    --jakarta: 'Plus Jakarta Sans', sans-serif;
    --nunito: 'Nunito', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--whitenz);
}
/* utils */
h1, h2, h3, h4, h5 {
    font-family: var(--calibiri);
}
h6, p {
    font-family: var(--jakarta);
}
h2 {
    text-transform: capitalize;
    font-size: 60px;
    line-height: 73.24px;
    font-style: italic;
}
h3 {
    font-size: 36px;
    line-height: 43.95px;
    margin-bottom: 20px;
}
.page-heading {
    font-size: 60px;
    line-height: 73.24px;
    margin-bottom: 20px;
}
.para-text {
    color: var(--para-color);
}
.bottom-text {
    font-weight: 400 !important;
    font-size: 18px;
    line-height: 27.72px;
    /* font-style: italic; */
}
p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}
/* p:last-child {
    margin: 0;
} */
a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.3s ease;
}
a:hover {
    color: var(--primary-color);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.title-hr {
    display: inline-block;
    width: 120px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    opacity: 1;
}
.button-reset {
    background-color: transparent;
    border: none;
}
.mt-60 {
    margin-top: 60px;
}
.spacer-y {
    padding: 60px 0;
}
.primary-border {
    border: 1px solid var(--primary-color) !important;
}
.primary-button,
.secondary-button {
    font-size: 24px;
    display: inline-block;
    border: 1px solid var(--primary-color);
    padding: 10px 30px;
    font-family: var(--calibiri);
    font-weight: 400;
    transition: all 0.3s ease;
}
.primary-button:hover {
    color: var(--whitenz);
    background-color: var(--primary-color);
}
.secondary-button {
    background-color: var(--yellownz);
    border: 1px solid var(--yellownz);
}
.secondary-button:hover {
    box-shadow: 0px 3px 0px 0px var(--primary-color);
}
.button-group {
    display: flex;
    gap: 15px;
}
.theme-link {
    color: var(--whitenz);
}
.theme-link:hover {
    color: var(--yellownz);
}
.hero .hero-left {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(18, 18, 18, 0.2);
}
.hero .slider-button {
    height: 60px;
    width: 60px;
}
.hero .slider-button img {
    width: 29px;
}
.slider-button {
    position: relative;
    z-index: 3;
    height: 40px;
    width: 40px;
    background-color: var(--whitenz);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.slider-button:hover {
    background-color: var(--yellownz);
}
.slider-button.primary-border:hover {
    border: 1px solid var(--yellownz) !important;
}
.slider-button svg,
.slider-button img {
    width: 20px;
}
section.bg-yellow .slider-button:hover {
    background-color: var(--primary-color);
}
section.bg-yellow .slider-button svg {
    fill: var(--primary-color);
    stroke: var(--primary-color);
}
section.bg-yellow .slider-button:nth-child(2):hover svg,
section.bg-yellow .slider-button:nth-child(2) svg {
    stroke: none;
}
section.bg-yellow .slider-button:hover svg {
    fill: var(--whitenz);
    stroke: var(--whitenz);
}
.bg-yellow {
    background-color: var(--yellownz);
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
.form-control {
    padding: 0;
    height: 50px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--para-color);
}
.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid var(--primary-color);
}
.form-control::placeholder {
    font-family: var(--jakarta);
}
/* utils ends */
/* index starts */
.hero {
    position: relative;
}
.content-wrapper {
    padding: 0 45px 0 100px;
}
.content-wrapper .primary-button:hover {
    color: var(--primary-color);
    background-color: var(--yellownz);
    border: 1px solid var(--yellownz);
    box-shadow: 0px 3px 0px 0px var(--primary-color);
}
.hero-heading {
    font-size: 90px;
    line-height:85px;
    text-transform: uppercase;
}
.oval-circle {
    font-size: unset;
    font-family: var(--calibiri);
    position: relative;
    z-index: 2;
}
.oval-circle::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -45px;
    left: -85px;
    height: 170%;
    width: 200%;
    background-image: url(../images/circle-draw.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 245px;
}
.content-wrapper p {
    font-size: 18px;
    line-height: 30px;
    margin: 40px 0;
}
.slider-wrapper {
    position: relative;
}
.slider-wrapper .button-group {
    position: absolute;
    bottom: 30px;
    right: 50px;
}
.single-item img {
    width: 100%;
}
.scroll-down .circle-shape,
.scroll-down {
    font-size: 14px;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-75px, -50%);
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--whitenz);
}
.scroll-down .circle-shape {
    left: 0;
    transform: none;
    background: transparent;
    z-index: -1;
}
.scroll-down .curve-text {
    position: absolute;
    top: 15px;
    z-index: 2;
    letter-spacing: 1px;
    font-family: var(--calibiri);
    background-color: var(--whitenz);
}
.scroll-down .scroll-button {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background: var(--black-grad);
}
.scroll-down .circle-shape::before,
.scroll-down .circle-shape::after {
    content: '';
    position: absolute;
    z-index: 0;
    width: 95px;
    height: 95px;
    z-index: 0;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}
.scroll-down .circle-shape::before {
    z-index: 1;
    border: none;
    width: 100px;
    height: 100px;
    border: 10px solid var(--whitenz);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
}
.scroll-down .scroll-button img {
    height: 30px;
}
.swiper-cards {
    overflow: hidden !important;
}
.our-gallery .button-group,
.discover-videos .button-group {
    justify-content: flex-end;
}
.video-carousel {
    width: 1140px;
}
.video-slider {
    width: 300px;
}
.video-slider {
    width: 350px !important;
    position: relative;
    transition: all 0.3s ease;
}
.video-slider .video-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 1;
    line-height: 1;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--calibiri);
    letter-spacing: 1px;
    width: calc(100% - 40px);
    margin: 0;
    color: var(--whitenz);
    transform: translate(-50%, -10px);
    transition: all 0.3s ease;
}
.video-slider.swiper-slide-active .video-name {
    font-weight: 700;
    padding: 24px 20px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}
.video-slider .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.video-slider.swiper-slide-active .play-button {
    visibility: visible;
    opacity: 1;
}
.video-thumb {
    position: relative;
    width: 100%;
}
.video-slider::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background: var(--shadow-grad);
}
.story-card {
    position: relative;
    display: block;
    height: 100%;
}
.story-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--shadow-grad);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.story-card .story-text {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.story-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.our-gallery .slick-slide {
    margin: 0 10px;
}
.our-gallery .slick-list {
    margin: 0 -10px;
}
/* custom styling ends */
.gallery .col-lg-4:nth-child(2) .gallery-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    background-color: var(--shadow-grad);
}
.gallery-wrapper {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.gallery-wrapper img {
    transition: all 0.3s ease;
}
.gallery-wrapper:hover img {
    scale: 1.05;
}
.story-card:hover::after,
.story-card:hover .story-text,
.gallery-wrapper:hover .gallery-name,
.gallery-wrapper:hover::after {
    visibility: visible;
    opacity: 1;
}
.gallery-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: var(--shadow-grad);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.gallery-wrapper .gallery-name {
    position: absolute;
    left: 20px;
    bottom: 10px;
    z-index: 1;
    color: var(--whitenz);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.gallery-wrapper .gallery-name h5 {
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
}
.gallery-wrapper img {
    width: 100%;
}
.gallery-pagination {
    display: none;
}
.newsletter-form .form-control {
    padding: 0 60px 0 0;
}
.newsletter-form button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    height: 40px;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellownz);
    transition: all 0.3s ease;
}
.newsletter-form button svg {
    width: 25px;
    fill: var(--primary-color);
}
.newsletter-form button:hover {
    background-color: var(--primary-color);
}
.newsletter-form button:hover svg {
    fill: var(--yellownz) !important;
}
/* index ends */
/* about starts */
.counter-row {
    display: grid;
    column-gap: 45px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
.counter-col {
    width: 250px;
    height: 250px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    border: 1px solid rgba(18, 18, 18, 0.2);
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.counter-col:hover {
    color: var(--primary-color);
    border: 1px solid var(--yellownz);
    background-color: var(--yellownz);
}
.counter-col:hover .counter-text > span {
    color: var(--primary-color);
}
.counter-col:nth-child(odd) {
    transform: translateY(30px);
}
.counter-col:nth-child(even):hover {
    transform: translateY(30px);
    animation: bounce-down 1s linear;
}
.counter-col:nth-child(even) {
    transform: translateY(-30px);
}
.counter-col:nth-child(odd):hover {
    transform: translateY(-30px);
    animation: bounce-up 1s linear;
}
@keyframes bounce-down {
    0% {
        transform: translateY(-30px);
    }
    40% {
        transform: translateY(20px);
    }
    60% {
        transform: translateY(15px);
    }
    100%, 20%, 50%, 80% {
        transform: translateY(30px);
    }
}
@keyframes bounce-up {
    0% {
        transform: translateY(30px);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-15px);
    }
    100%, 20%, 50%, 80% {
        transform: translateY(-30px);
    }
}
.counter-col h3,
.counter-col h3 > span {
    font-family: var(--calibiri);
    font-size: 60px;
    font-weight: 700;
}
.counter-col .counter-text > span {
    color: var(--para-color);
    font-size: 18px;
    line-height: 22.68px;
    font-family: var(--jakarta);
}
/* about ends */
/* article */
.top-article .col-md-8 p:last-child {
    margin-bottom: 0;
}
.profile-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.profile-wrapper .profile-image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.profile-wrapper .profile-text .profile-name {
    font-size: 16px;
    line-height: 20.16px;
}
.profile-wrapper .profile-text .profile-time {
    font-size: 12px;
    line-height: 15.12px;
    margin: 0;
}
.like-comment {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.like-comment svg {
    cursor: pointer;
    fill: var(--primary-color);
}
.like-comment span {
    font-family: var(--jakarta);
    font-size: 12px;
}
.share {
    position: absolute;
    right: 8px;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 16.5px 32.3px;
    font-weight: 700;
    font-size: 18px;
    font-family: var(--calibiri);
    transition: all 0.3s ease;
}
.share svg {
    fill: var(--primary-color);
    transition: all 0.3s ease;
}
.share:hover {
    color: var(--whitenz);
    background-color: var(--primary-color);
}
.share:hover svg {
    fill: var(--whitenz);
}

.article-hero {
    position: relative;
    height: 650px;
    width: 100%;
}
.article-hero::after {
    content: '';
    width: 100%;
    height: 50%;
    background: var(--shadow-grad);
    position: absolute;
    left: 0;
    bottom: 0;
}
.article-hero .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.article-hero img,
.article-hero a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.article img {
    width: 100%;
}
.article-slide .col-md-5,
.article .col-md-6 {
    position: relative;
}
.article-slide .play-button,
.article .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
}
.article .share {
    right: 0;
    background-color: var(--primary-color);
    font-weight: 400;
    color: var(--whitenz);
    transition: all 0.3s ease;
}
.article .share svg {
    fill: var(--whitenz);
    transition: all 0.3s ease;
}
.article .share:hover {
    background-color: var(--yellownz);
    color: var(--primary-color);
    box-shadow: 0px 3px 0px 0px var(--primary-color);
}
.article .share:hover svg {
    fill: var(--primary-color);
}
.article-pagination.swiper-pagination-progressbar {
    background-color: rgba(18, 18, 18, 0.2);
}
.article-pagination .swiper-pagination-progressbar-fill {
    background-color: var(--primary-color) !important;
}
.article-pagination-fraction span {
    /* font-size: 20px; */
    font-family: var(--jakarta);
    font-weight: 700;
    color: var(--primary-color);
}
.article-pagination-fraction,
.article-pagination-fraction span.total-index {
    color: rgba(18, 18, 18, 0.2);
}
/* article ends */
/* gallery */
.gallery-hero .container-fluid img {
    width: 100%;
}
.galhero-row {
    position: relative;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
.galhero-col {
    position: relative;
}
.galhero-col:nth-child(3) img,
.galhero-col:nth-child(2) img {
    position: absolute;
    bottom: 0;
}
.filter {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    font-size: 22px;
    font-weight: 500;
    line-height: 27.72px;
    font-family: var(--jakarta);
}
.filter .filter-list {
    cursor: pointer;
    padding-bottom: 10px;
}
.filter .filter-list.active {
    border-bottom: 2px solid var(--primary-color);
}
.gallery-row .image-wrapper {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.gallery-row .gallery-image {
    width: 100%;
    height: fit-content;
}
.gallery-row .gallery-image img {
    mix-blend-mode: luminosity;
}
.gallery-row .gallery-image:hover img {
    mix-blend-mode: normal;
}
.gallery-text {
    position: absolute;
    z-index: 2;
    bottom: -100%;
    background-color: var(--yellownz);
    padding: 10px 15px;
    transition: all 0.3s ease;
}
.gallery-image:hover .gallery-text {
    bottom: 0;
}
.gallery-text button {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: var(--calibiri);
    gap: 5px;
    font-size: 14px;
}
.gallery-text button img {
    height: 15px;
}
.load-more svg {
    fill: var(--primary-color);
    transition: all 0.3s ease;
}
.load-more:hover svg {
    fill: var(--whitenz);
}
/* gallery ends */
/* map */
.map-title {
    font-size: 36px;
    line-height: 50px;
}
.map-areas {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.map-areas .map-list {
    cursor: pointer;
}
.map-areas .map-list p {
    font-size: 20px;
    line-height: 24.41px;
    display: inline-block;
    padding-bottom: 10px;
    margin: 0;
    font-family: var(--calibiri);
}
.map-areas .map-list.active p {
    font-weight: 700;
    border-bottom: 1px solid var(--primary-color);
}
.map-areas .map-list:not(:last-child)::after {
    content: '';
    margin-left: 20px;
    padding-left: 1px;
    height: 20px;
    background-color: rgba(18, 18, 18, 0.1);
    
}
/* map ends */
/* footer starts */
.footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col:first-child {
    flex: 0 0 34%;
}
.footer-col:first-child img {
    height: 50px;
}
.footer_socials {
    display: none !important;
}
.footer-col {
    flex: 0 0 22%;
    padding-right: 50px;
}
.footer-heading {
    line-height: 1;
    color: var(--whitenz);
    text-transform: uppercase;
    font-weight: 700;
}
.footer-list a {
    display: block;
    font-family: var(--jakarta);
    color: var(--para-color);
    margin-bottom: 10px;
    transition: all 0.3s ease;
}
.footer-list a:hover {
    color: var(--yellownz);
}
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.copyright p {
    font-weight: 300;
    font-family: var(--nunito);
}
.copyright .social-icons a {
    color: var(--whitenz);
}
.copyright-row .cp-left,
.copyright-row .cp-right {
    flex: 0 0 50%;
}
.copyright-row .cp-right {
    display: flex;
    justify-content: flex-end;
}
/* footer ends */


@media (min-width: 320px) and (max-width: 480px) {
    body {
        background-color: var(--body-colorsm);
    }
    .section-heading-row .col-lg-4 {
        display: none;
    }
    /* utils */
    .page-heading {
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
    }
    h3,
    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29.3px;
        font-style: normal;
    }
    p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    span {
        font-size: 14px;
    }
    .bottom-text {
        font-size: 14px;
        line-height: 26px;
    }
    .hero-heading {
        font-size: 38px;
        line-height: 50px;
        font-weight: 700;
    }
    .spacer-y {
        padding: 40px 16px;
    }
    .mt-60 {
        margin-top: 20px;
    }
    .primary-button,
    .secondary-button {
        font-size: 16px;
        padding: 13px 46px;
    }
    /* utils ends */
    /* index */
    .hero {
        border-bottom: 1px solid rgba(18, 18, 18, 0.2);
    }
    .hero .hero-left {
        display: block;
        border: none;
    }
    .content-wrapper {
        padding: 0;
    }
    .content-wrapper p {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        margin: 20px 0;
        color: var(--para-color);
    }
    .oval-circle::after {
        background-image: url(../images/circle-draw-sm.svg);
        top: -5px;
        left: -7px;
        height: 125%;
        width: 125%;
        background-size: unset;
    }
    .slider-wrapper .button-group {
        justify-content: center;
        margin-top: 30px;
        position: relative;
        bottom: unset;
        right: unset;
    }
    .hero .slider-button {
        width: 45px;
        height: 45px;
        border: 1px solid var(--primary-color);
    }
    .hero .slider-button img {
        width: 20px;
    }
    .hero .slider-button:hover {
        border: 1px solid var(--yellownz);
    }
    .story-card .story-text {
        bottom: 9px;
        left: 9px;
    }
    .story-card .story-text h4 {
        font-size: 16px;
        line-height: 19.53px;
    }
    .story-card .story-text p {
        font-size: 12px;
        line-height: 15.12px;
    }
    .video-slider {
        width: 285px !important;
    }
    .video-slider .play-button img {
        width: 60px;
    }
    .video-slider.swiper-slide-active .video-name {
        padding: 0;
        border: 0;
        backdrop-filter: unset;
        background-color: transparent;
    }
    .video-slider .video-name {
        text-align: left;
    }

    .gallery-wrapper .gallery-name h5 {
        font-size: 16px;
    }
    .gallery-spacer.spacer-y {
        padding: 0;
    }
    .gallery-pagination {
        display: block;
        position: relative !important;
        bottom: 0 !important;
    }
    .gallery-pagination .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: var(--primary-color);
        opacity: 0.2;
        border-radius: 8px;
        transition: all 0.3s ease;
    }
    .gallery-pagination .swiper-pagination-bullet-active {
        width: 20px;
        opacity: 1;
    }
    .newsletter {
        background-color: var(--news-colorsm);
    }
    .newsletter .spacer-y {
        padding-bottom: 0;
    }
    .newsletter-form {
        position: relative;
        margin-bottom: -33px;
    }
    .newsletter-form .form-control {
        height: 66px;
        padding: 24px 65.5px 24px 25px;
        background-color: var(--news-colorsm);
        border: none;
        box-shadow: 0px 67.1144px 109.061px rgba(0, 0, 0, 0.6);
    }
    .newsletter-form .form-control::placeholder {
        font-size: 14px;
    }
    .newsletter-form .news-button {
        width: 52px;
        height: 50px;
        right: 8.5px;
    }
    /* index ends */
    /* about starts */
    .about-counter {
        border-bottom: 1px solid rgba(18, 18, 18, 0.2);
    }
    .counter-row {
        gap: 10px;
        place-items: center;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .counter-col {
        width: 130px;
        height: 130px;
    }
    .counter-col:nth-child(odd),
    .counter-col:nth-child(even) {
        transform: translateY(0);
    }
    .counter-col h3,
    .counter-col h3 > span {
        font-size: 30px;
        margin-bottom: 0;
    }
    .counter-col .counter-text > span {
        font-size: 12px;
    }
    .counter-col:nth-child(odd):hover,
    .counter-col:nth-child(even):hover {
        transform: unset;
        animation: unset;
    }
    /* about ends */
    /* article */
    .article-hero {
        height: 300px;
    }
    .share {
        position: relative;
    }
    .top-article .like-comment {
        justify-content: flex-start;
    }
    .top-article .share {
        margin-left: auto;
        right: 0;
    }
    .article {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .article:nth-child(even) .col-md-6:nth-child(2) {
        order: 1;
    }
    .article:nth-child(even) .col-md-6:nth-child(1) {
        order: 2;
    }
    /* article ends */
    /* gallery */
    .galhero-row {
        gap: 10px;
    }
    .gallery-row {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .filter {
        font-size: 14px;
        gap: 30px;
        justify-content: flex-start;
    }
    .image-wrapper > img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    /* gallery ends */
    /* footer */
    .footer .spacer-y {
        padding: 73px 16px 40px 16px;
    }
    .footer-col:first-child,
    .footer-col {
        flex: 0 0 100%;
        padding: 0;
        margin-bottom: 40px;
    }
    .footer-col {
        flex: 0 0 50%;
    }
    .footer-col:last-child {
        flex: 0 0 100%;
        margin-bottom: 0;
    }
    .footer-col:first-child img {
        height: 30px;
    }
    .footer-list a {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: unset;
    }
    .footer_socials {
        margin-top: 20px;
        gap: 10px !important;
        display: flex;
    }
    .footer_socials a {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--whitenz);
    }
    .copyright {
        text-align: center;
        border: none;
        background-color: var(--copy-colorsm);
    }
    .copyright p {
        line-height: 1;
    }
    .copyright .social-icons a  {
        display: none;
    }
    .copyright-row {
        padding: 16px 0 !important;
    }
    .copyright-row .cp-left, 
    .copyright-row .cp-right {
        flex: 0 0 100%;
    }
    .copyright-row .cp-right {
        display: none;
    }
    
    /* footer ends */
}
@media (min-width:576px) {
    .mob-blog-wraper,
    .mob-video-wraper{
        display: none;
    }

    .video-thumb {
        height: 450px;
        object-fit: cover;
    }

    .desk-blog-wraper,
    .desktop-video-wraper{
        display: block;
    }
}
@media (max-width:576px) {
    .video-thumb {
        height: 420px;
        width: 100%;
        object-fit: cover;
    }

    .mob-blog-wraper .video-slider,
    .mob-video-wraper .video-slider {
        width: 85% !important;
    }

    .mob-blog-wraper,
    .mob-video-wraper{
        display: block;
    }
    .desk-blog-wraper,
    .desktop-video-wraper{
        display: none;
    }
}
@media (min-width: 480px) and (max-width: 576px) {
    body {
        background-color: var(--body-colorsm);
    }
    p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .section-heading-row .col-lg-4 {
        display: none;
    }
    /* utils */
    .page-heading {
        font-size: 36px;
        line-height: 40px;
        font-weight: 700;
    }
    h3,
    h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        font-style: normal;
    }
    .bottom-text {
        font-size: 14px;
        line-height: 26px;
    }
    .hero-heading {
        font-size: 45px;
        line-height: 55px;
        font-weight: 700;
    }
    .spacer-y {
        padding: 50px 30px;
    }
    .mt-60 {
        margin-top: 20px;
    }
    .primary-button,
    .secondary-button {
        font-size: 16px;
        padding: 13px 46px;
    }
    /* utils ends */
    /* index */
    .hero {
        border-bottom: 1px solid rgba(18, 18, 18, 0.2);
    }
    .hero .hero-left {
        display: block;
        border: none;
    }
    .content-wrapper {
        padding: 0;
    }
    .content-wrapper p {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        margin: 20px 0;
        color: var(--para-color);
    }
    .oval-circle::after {
        top: -11px;
        left: -7px;
        height: 125%;
        width: 125%;
        background-size: 118px;
        background-image: url(../images/circle-draw-sm.svg);
    }
    .slider-wrapper .button-group {
        justify-content: center;
        margin-top: 30px;
        position: relative;
        bottom: unset;
        right: unset;
    }
    .hero .slider-button {
        width: 45px;
        height: 45px;
        border: 1px solid var(--primary-color);
    }
    .hero .slider-button img {
        width: 20px;
    }
    .hero .slider-button:hover {
        border: 1px solid var(--yellownz);
    }
    .story-card .story-text {
        bottom: 9px;
        left: 9px;
    }
    .story-card .story-text h4 {
        font-size: 16px;
        line-height: 19.53px;
    }
    .story-card .story-text p {
        font-size: 12px;
        line-height: 15.12px;
    }
    .video-slider {
        width: 285px !important;
    }
    .video-slider .play-button img {
        width: 60px;
    }
    .video-slider.swiper-slide-active .video-name {
        padding: 0;
        border: 0;
        backdrop-filter: unset;
        background-color: transparent;
    }
    .video-slider .video-name {
        text-align: left;
    }

    .gallery-wrapper .gallery-name h5 {
        font-size: 20px;
    }
    .gallery-spacer.spacer-y {
        padding: 0;
    }
    .gallery-pagination {
        display: block;
        position: relative !important;
        bottom: 0 !important;
    }
    .gallery-pagination .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: var(--primary-color);
        opacity: 0.2;
        border-radius: 8px;
        transition: all 0.3s ease;
    }
    .gallery-pagination .swiper-pagination-bullet-active {
        width: 20px;
        opacity: 1;
    }
    .newsletter {
        background-color: var(--news-colorsm);
    }
    .newsletter .spacer-y {
        padding-bottom: 0;
    }
    .newsletter-form {
        position: relative;
        margin-bottom: -33px;
    }
    .newsletter-form .form-control {
        height: 66px;
        padding: 24px 65.5px 24px 25px;
        background-color: var(--news-colorsm);
        border: none;
        box-shadow: 0px 67.1144px 109.061px rgba(0, 0, 0, 0.6);
    }
    .newsletter-form .form-control::placeholder {
        font-size: 14px;
    }
    .newsletter-form button {
        width: 52px;
        height: 50px;
        right: 8.5px;
    }
    /* index ends */
    /* about */
    .about-counter {
        border-bottom: 1px solid rgba(18, 18, 18, 0.2);
    }
    .counter-row {
        gap: 20px;
        place-items: center;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .counter-col {
        width: 170px;
        height: 170px;
    }
    .counter-col:nth-child(odd),
    .counter-col:nth-child(even) {
        transform: translateY(0);
    }
    .counter-col h3,
    .counter-col h3 > span {
        font-size: 35px;
        margin-bottom: 0;
    }
    .counter-col .counter-text > span {
        font-size: 14px;
    }
    .counter-col:nth-child(odd):hover,
    .counter-col:nth-child(even):hover {
        transform: unset;
        animation: unset;
    }
    /* about ends */
    /* article */
    .article-hero {
        height: 300px;
    }
    .share {
        position: relative;
    }
    .top-article .like-comment {
        justify-content: flex-start;
    }
    .top-article .share {
        margin-left: auto;
        right: 0;
    }
    .article {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .article:nth-child(even) .col-md-6:nth-child(2) {
        order: 1;
    }
    .article:nth-child(even) .col-md-6:nth-child(1) {
        order: 2;
    }
    /* article ends */
    /* gallery */
    .galhero-row {
        gap: 20px;
    }
    .gallery-row {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .filter {
        font-size: 16px;
        gap: 30px;
        justify-content: flex-start;
    }
    .image-wrapper > img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    /* gallery ends */
    /* footer */
    .footer .spacer-y {
        padding: 73px 30px 50px 30px;
    }
    .footer-col:first-child,
    .footer-col {
        flex: 0 0 100%;
        padding: 0;
        margin-bottom: 50px;
    }
    .footer-col {
        flex: 0 0 50%;
    }
    .footer-col:last-child {
        flex: 0 0 100%;
        margin-bottom: 0;
    }
    .footer-col:first-child img {
        height: 30px;
    }
    .footer-list a {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: unset;
    }
    .footer_socials {
        margin-top: 20px;
        gap: 10px !important;
        display: flex;
    }
    .footer_socials a {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--whitenz);
    }
    .copyright {
        text-align: center;
        border: none;
        background-color: var(--copy-colorsm);
    }
    .copyright p {
        line-height: 1;
    }
    .copyright .social-icons a  {
        display: none;
    }
    .copyright-row {
        padding: 16px 0 !important;
    }
    .copyright-row .cp-left, 
    .copyright-row .cp-right {
        flex: 0 0 100%;
    }
    .copyright-row .cp-right {
        display: none;
    }
    
    /* footer ends */
}
@media (min-width: 576px) and (max-width: 767px) {
    body {
        background-color: var(--body-colorsm);
    }
    p {
        font-size: 14px;
        margin-bottom: 25px;
    }
    .section-heading-row .col-lg-4 {
        display: none;
    }
    .container {
        max-width: 100%;
    }
    /* utils */
    .page-heading {
        font-size: 42px;
        line-height: 46px;
        font-weight: 700;
    }
    h3,
    h2 {
        font-weight: 700;
        font-size: 37px;
        line-height: 42px;
        font-style: normal;
    }
    .bottom-text {
        font-size: 16px;
        line-height: 28px;
    }
    .hero-heading {
        font-size: 54px;
        line-height: 64px;
        font-weight: 700;
    }
    .spacer-y {
        padding: 55px 50px;
    }
    .mt-60 {
        margin-top: 30px;
    }
    .primary-button,
    .secondary-button {
        font-size: 16px;
        padding: 13px 46px;
    }
    /* utils ends */
    /* index */
    .hero {
        border-bottom: 1px solid rgba(18, 18, 18, 0.2);
    }
    .hero .hero-left {
        display: block;
        border: none;
    }
    .content-wrapper {
        padding: 0;
    }
    .content-wrapper p {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        margin: 20px 0;
        color: var(--para-color);
    }
    .oval-circle::after {
        top: -11px;
        left: -7px;
        height: 125%;
        width: 125%;
        background-size: 142px;
        background-image: url(../images/circle-draw-sm.svg);
    }
    .slider-wrapper .button-group {
        justify-content: center;
        margin-top: 30px;
        position: relative;
        bottom: unset;
        right: unset;
    }
    .hero .slider-button {
        width: 45px;
        height: 45px;
        border: 1px solid var(--primary-color);
    }
    .hero .slider-button img {
        width: 20px;
    }
    .hero .slider-button:hover {
        border: 1px solid var(--yellownz);
    }
    .story-card .story-text {
        bottom: 9px;
        left: 9px;
    }
    .story-card .story-text h4 {
        font-size: 18px;
        line-height: 19.53px;
    }
    .story-card .story-text p {
        font-size: 12px;
        line-height: 15.12px;
    }
    .video-slider {
        width: 285px !important;
    }
    .video-slider .play-button img {
        width: 60px;
    }
    .video-slider.swiper-slide-active .video-name {
        padding: 0;
        border: 0;
        backdrop-filter: unset;
        background-color: transparent;
    }
    .video-slider .video-name {
        text-align: left;
    }

    .gallery-wrapper .gallery-name h5 {
        font-size: 20px;
    }
    .gallery-pagination {
        display: block;
        position: relative !important;
        bottom: 0 !important;
    }
    .gallery-pagination .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: var(--primary-color);
        opacity: 0.2;
        border-radius: 8px;
        transition: all 0.3s ease;
    }
    .gallery-pagination .swiper-pagination-bullet-active {
        width: 20px;
        opacity: 1;
    }
    .newsletter {
        background-color: var(--news-colorsm);
    }
    .newsletter .spacer-y {
        padding-bottom: 0;
    }
    .newsletter-form {
        position: relative;
        margin-bottom: -33px;
    }
    .newsletter-form .form-control {
        height: 66px;
        padding: 24px 65.5px 24px 25px;
        background-color: var(--news-colorsm);
        border: none;
        box-shadow: 0px 67.1144px 109.061px rgba(0, 0, 0, 0.6);
    }
    .newsletter-form .form-control::placeholder {
        font-size: 14px;
    }
    .newsletter-form button {
        width: 52px;
        height: 50px;
        right: 8.5px;
    }
    /* index ends */
    /* about */
    .about-counter {
        border-bottom: 1px solid rgba(18, 18, 18, 0.2);
    }
    .counter-row {
        gap: 20px;
        place-items: center;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .counter-col {
        width: 170px;
        height: 170px;
    }
    .counter-col:nth-child(odd),
    .counter-col:nth-child(even) {
        transform: translateY(0);
    }
    .counter-col h3,
    .counter-col h3 > span {
        font-size: 35px;
        margin-bottom: 0;
    }
    .counter-col .counter-text > span {
        font-size: 14px;
    }
    .counter-col:nth-child(odd):hover,
    .counter-col:nth-child(even):hover {
        transform: unset;
        animation: unset;
    }
    /* about ends */
    /* article */
    .article-hero {
        height: 400px;
    }
    .share {
        position: relative;
    }
    .top-article .like-comment {
        justify-content: flex-start;
    }
    .top-article .share {
        margin-left: auto;
        right: 0;
    }
    .article {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .article:nth-child(even) .col-md-6:nth-child(2) {
        order: 1;
    }
    .article:nth-child(even) .col-md-6:nth-child(1) {
        order: 2;
    }
    .article-slide .col-md-5 > img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }
    /* article ends */
    /* gallery */
    .galhero-row {
        gap: 20px;
    }
    .gallery-row {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .filter {
        font-size: 16px;
        gap: 30px;
        justify-content: flex-start;
    }
    .image-wrapper > img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    /* gallery ends */
    /* footer */
    .footer .spacer-y {
        padding: 73px 50px 50px;
    }
    .footer-col:first-child,
    .footer-col {
        flex: 0 0 100%;
        margin-bottom: 50px;
    }
    .footer-col {
        flex: 0 0 33.33%;
        padding: 0;
        margin-bottom: 0px;
    }
    .footer-col:last-child {
        flex: 0 0 33.33%;
        margin-bottom: 0;
    }
    .footer-col:first-child img {
        height: 30px;
    }
    .footer-list a {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: unset;
    }
    .footer_socials {
        margin-top: 20px;
        gap: 10px !important;
        display: flex;
    }
    .footer_socials a {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--whitenz);
    }
    .copyright {
        text-align: center;
        border: none;
        background-color: var(--copy-colorsm);
    }
    .copyright p {
        line-height: 1;
    }
    .copyright .social-icons a  {
        display: none;
    }
    .copyright-row {
        padding: 16px 0 !important;
    }
    .copyright-row .cp-left, 
    .copyright-row .cp-right {
        flex: 0 0 100%;
    }
    .copyright-row .cp-right {
        display: none;
    }
    
    /* footer ends */
}
@media (min-width: 768px) and (max-width: 992px) {
    body {
        background-color: var(--body-colorsm);
    }
    p {
        font-size: 14px;
    }
    .section-heading-row .col-lg-4 {
        display: none;
    }
    .container {
        max-width: 100%;
    }
    /* utils */
    .page-heading {
        font-size: 45px;
        line-height: 49px;
    }
    h2 {
        /* font-weight: 700; */
        font-size: 47px;
        line-height: 42px;
        font-style: normal;
    }
    h3 {
        font-size: 28px;
        line-height: 32px;
    }
    .bottom-text {
        font-size: 16px;
        line-height: 28px;
    }
    .hero-row {
        align-items: center;
    }
    .hero-heading {
        font-size: 54px;
        line-height: 64px;
        font-weight: 700;
    }
    .spacer-y {
        padding: 55px 50px;
    }
    .mt-60 {
        margin-top: 40px;
    }
    .primary-button,
    .secondary-button {
        font-size: 16px;
        padding: 13px 46px;
    }
    /* utils ends */
    /* index */
    .hero {
        border-bottom: 1px solid rgba(18, 18, 18, 0.2);
    }
    .hero .hero-left {
        display: block;
        border: none;
    }
    .content-wrapper {
        padding: 0;
    }
    .content-wrapper p {
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        margin: 20px 0;
        color: var(--para-color);
    }
    .oval-circle::after {
        top: -11px;
        left: -7px;
        height: 125%;
        width: 125%;
        background-size: 142px;
        background-image: url(../images/circle-draw-sm.svg);
    }
    .single-item img {
        height: 390px;
        object-fit: cover;
        object-position: top;
    }
    .slider-wrapper .button-group {
        justify-content: center;
        margin-top: 30px;
        position: absolute;
        bottom: 15px;
        right: 15px;
    }
    .hero .slider-button {
        width: 45px;
        height: 45px;
        border: 1px solid var(--primary-color);
    }
    .hero .slider-button img {
        width: 20px;
    }
    .hero .slider-button:hover {
        border: 1px solid var(--yellownz);
    }
    .story-card .story-text {
        bottom: 9px;
        left: 9px;
    }
    .story-card .story-text h4 {
        font-size: 18px;
        line-height: 19.53px;
    }
    .story-card .story-text p {
        font-size: 12px;
        line-height: 15.12px;
    }
    .video-slider {
        width: 285px !important;
    }
    .video-slider .play-button img {
        width: 60px;
    }
    .video-slider.swiper-slide-active .video-name {
        padding: 0;
        border: 0;
        backdrop-filter: unset;
        background-color: transparent;
    }
    .video-slider .video-name {
        text-align: left;
    }

    .gallery-wrapper .gallery-name h5 {
        font-size: 20px;
    }
    .gallery-pagination {
        display: block;
        position: relative !important;
        bottom: 0 !important;
    }
    .gallery-pagination .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: var(--primary-color);
        opacity: 0.2;
        border-radius: 8px;
        transition: all 0.3s ease;
    }
    .gallery-pagination .swiper-pagination-bullet-active {
        width: 20px;
        opacity: 1;
    }
    .newsletter {
        background-color: var(--news-colorsm);
    }
    .newsletter .spacer-y {
        padding-bottom: 0 !important;
    }
    .newsletter-form {
        position: relative;
        margin-bottom: -33px;
    }
    .newsletter-form .form-control {
        height: 66px;
        padding: 24px 65.5px 24px 25px;
        background-color: var(--news-colorsm);
        border: none;
        box-shadow: 0px 67.1144px 109.061px rgba(0, 0, 0, 0.6);
    }
    .newsletter-form .form-control::placeholder {
        font-size: 14px;
    }
    .newsletter-form button {
        width: 52px;
        height: 50px;
        right: 8.5px;
    }
    /* index ends */
    /* about */
    .about-counter {
        border-bottom: 1px solid rgba(18, 18, 18, 0.2);
    }
    .counter-row {
        gap: 20px;
        place-items: center;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .counter-col {
        width: 150px;
        height: 150px;
    }
    .counter-col:nth-child(odd),
    .counter-col:nth-child(even) {
        transform: translateY(0);
    }
    .counter-col h3,
    .counter-col h3 > span {
        font-size: 35px;
        margin-bottom: 0;
    }
    .counter-col .counter-text > span {
        font-size: 14px;
    }
    .counter-col:nth-child(odd):hover,
    .counter-col:nth-child(even):hover {
        transform: unset;
        animation: unset;
    }
    .about-blog img {
        height: 450px;
        object-fit: cover;
    }
    /* about ends */
    /* article */
    .article-hero {
        height: 400px;
    }
    .profile-wrapper .profile-image img {
        width: 40px;
        height: 40px;
    }
    .article {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .article:nth-child(even) .col-md-6:nth-child(2) {
        order: 1;
    }
    .article:nth-child(even) .col-md-6:nth-child(1) {
        order: 2;
    }
    .article > img {
        height: 500px;
        width: 100%;
        object-fit: cover;
    }
    .article-slide .col-md-5 > img {
        height: 100%;
        object-fit: cover;
    }
    /* article ends */
    /* gallery */
    .galhero-row {
        gap: 20px;
    }
    .gallery-row {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .filter {
        font-size: 16px;
        gap: 30px;
        justify-content: flex-start;
    }
    .image-wrapper > img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    /* gallery ends */
    /* footer */
    .footer .spacer-y {
        padding: 73px 50px 50px !important;
    }
    .footer-col:first-child {
        flex: 0 0 34%;
    }
    .footer-col {
        flex: 0 0 22%;
    }
    .footer-col {
        padding-right: 30px;
        margin-bottom: 0px;
    }
    .footer-col:first-child img {
        height: 30px;
    }
    .footer-list a {
        font-size: 14px;
        line-height: 30px;
        margin-bottom: unset;
    }
    .footer_socials {
        display: none !important;
    }
    .copyright {
        padding: 0 50px;
    }
    .copyright p {
        line-height: 1;
    }
    .copyright-row {
        padding: 16px 0 !important;
    }
    .copyright-row .cp-left, 
    .copyright-row .cp-right {
        flex: 0 0 50%;
    }
    /* footer ends */
}
@media (min-width: 993px) and (max-width: 1200px) {
    h3 {
        font-size: 28px;
        line-height: 33px;
    }
    p {
        font-size: 16px;
    }
    .hero-heading {
        font-size: 75px;
        line-height: 70px;
    }
    .oval-circle::after {
        background-size: 215px;
        top: -40px;
        left: -70px;
    }
    .container-p-left {
        padding-left: calc(50% - 480px);
        padding-right: 46px;
    }
    .container-p-right {
        padding-right: calc(50% - 480px);
        padding-left: 46px;
    }
    .content-wrapper {
        padding-left: calc(100% - 480px);
    }
    .content-wrapper p {
        font-size: 16px;
        margin: 30px 0;
    }

    .about-counter .spacer-y {
        padding: 90px 0;
    }
    .counter-row {
        gap: 20px;
        place-items: center;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .counter-col {
        width: 200px;
        height: 200px;
    }

    .article-img {
        height: 450px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
    .article-slide .col-md-5 > img {
        height: 100%;
        object-fit: cover;
    }
}
@media (min-width: 1200px) {
    .container-p-left {
        padding-left: calc(50% - 570px);
        padding-right: 46px;
    }
    .container-p-right {
        padding-right: calc(50% - 570px);
        padding-left: 60px;
    }
    .content-wrapper {
        padding-left: calc(100% - 570px);
    }
    .about-counter .spacer-y {
        padding: 90px 0;
    }

}
@media (min-width: 1400px) {
    .container-p-left {
        padding-left: calc(50% - 660px);
        padding-right: 46px;
    }
    .container-p-right {
        padding-right: calc(50% - 660px);
        padding-left: 60px;
    }
    .content-wrapper {
        padding-left: calc(100% - 660px);
    }
}

