:root {
    /* colors */
    --primary-color: #121212;
    --secondary-color: #D7C3A3;
    --orangenz: #DD5D22;
    --whitenz: #fff;
    --para-color: #858184;
    --goldnz: #D18B22;
    --yellownz: #FFE01B;
    --lightbg: #FAFAFA;

    --body-colorsm: #FBFDFE;
    --news-colorsm: #F6F8F9;
    --copy-colorsm: #4D524B;

    /* gradients */
    --gray-grad: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #FFFFFF;
    --black-grad: linear-gradient(284.01deg, #1A1E21 6.36%, #1A1E21 68.16%, rgba(45, 49, 51, 0.92) 83.98%, #3F4245 101.28%);
    --shadow-grad: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);

    /* fonts */
    --calibiri: calibriregular;
    --jakarta: 'Plus Jakarta Sans', sans-serif;
    --nunito: 'Nunito', sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--whitenz);
}
/* utils */
h1, h2, h3, h4, h5 {
    font-family: var(--calibiri);
}
h6, p {
    font-family: var(--jakarta);
}
h2 {
    text-transform: capitalize;
    font-size: 60px;
    line-height: 73.24px;
    font-style: italic;
}
.para-text {
    color: var(--para-color);
}
.bottom-text {
    font-weight: 400 !important;
    font-size: 18px;
    line-height: 27.72px;
    /* font-style: italic; */
}
p {
    line-height: 30px;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}
a:hover {
    color: var(--primary-color);
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mt-60 {
    margin-top: 60px;
}
.spacer-y {
    padding: 60px 0;
}
.primary-border {
    border: 1px solid var(--primary-color) !important;
}
.primary-button,
.secondary-button {
    font-size: 24px;
    display: inline-block;
    border: 1px solid var(--primary-color);
    padding: 10px 30px;
    font-family: var(--calibiri);
    font-weight: 400;
    transition: all 0.3s ease;
}
.primary-button:hover {
    color: var(--whitenz);
    background-color: var(--primary-color);
}
.secondary-button {
    background-color: var(--yellownz);
    border: 1px solid var(--yellownz);
}
.secondary-button:hover {
    box-shadow: 0px 3px 0px 0px var(--primary-color);
}
.button-group {
    display: flex;
    gap: 15px;
}
.hero .hero-left {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(18, 18, 18, 0.2);
}
.hero .slider-button {
    height: 60px;
    width: 60px;
}
.hero .slider-button img {
    width: 29px;
}
.slider-button {
    position: relative;
    z-index: 3;
    height: 40px;
    width: 40px;
    background-color: var(--whitenz);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.slider-button:hover {
    background-color: var(--yellownz);
}
.slider-button.primary-border:hover {
    border: 1px solid var(--yellownz) !important;
}
.slider-button svg,
.slider-button img {
    width: 20px;
}
section.bg-yellow .slider-button:hover {
    background-color: var(--primary-color);
}
section.bg-yellow .slider-button svg {
    fill: var(--primary-color);
    stroke: var(--primary-color);
}
section.bg-yellow .slider-button:nth-child(2):hover svg,
section.bg-yellow .slider-button:nth-child(2) svg {
    stroke: none;
}
section.bg-yellow .slider-button:hover svg {
    fill: var(--whitenz);
    stroke: var(--whitenz);
}
.bg-yellow {
    background-color: var(--yellownz);
}
.bg-primary {
    background-color: var(--primary-color) !important;
}
.form-control {
    padding: 0;
    height: 50px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--para-color);
}
.form-control:focus {
    box-shadow: none;
    border-bottom: 1px solid var(--primary-color);
}
.form-control::placeholder {
    font-family: var(--jakarta);
}
/* utils ends */
/* index starts */
.hero {
    position: relative;
}
.content-wrapper {
    padding: 0 25px 0 100px;
}
.hero-heading {
    font-size: 99px;
    line-height: 92px;
    text-transform: uppercase;
}
.oval-circle {
    position: relative;
    z-index: 2;
}
.oval-circle::after {
    content: '';
    position: absolute;
    z-index: -1;
    top: -60px;
    left: -80px;
    height: 170%;
    width: 200%;
    background-image: url(../images/circle-draw.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.content-wrapper p {
    font-size: 18px;
    line-height: 30px;
    margin: 40px 0;
}
.slider-wrapper {
    position: relative;
}
.slider-wrapper .button-group {
    position: absolute;
    bottom: 30px;
    right: 50px;
}
.single-item img {
    width: 100%;
}
.scroll-down .circle-shape,
.scroll-down {
    font-size: 14px;
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-75px, -50%);
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--whitenz);
}
.scroll-down .circle-shape {
    left: 0;
    transform: none;
    background: transparent;
    z-index: -1;
}
.scroll-down .curve-text {
    position: absolute;
    top: 15px;
    z-index: 2;
    letter-spacing: 1px;
    font-family: var(--calibiri);
    background-color: var(--whitenz);
}
.scroll-down .scroll-button {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background: var(--black-grad);
}
.scroll-down .circle-shape::before,
.scroll-down .circle-shape::after {
    content: '';
    position: absolute;
    z-index: 0;
    width: 95px;
    height: 95px;
    z-index: 0;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}
.scroll-down .circle-shape::before {
    z-index: 1;
    border: none;
    width: 100px;
    height: 100px;
    border: 10px solid var(--whitenz);
    border-radius: 50%;
    border-bottom-color: transparent;
    border-left-color: transparent;
    transform: rotate(-45deg);
}
.scroll-down .scroll-button img {
    height: 30px;
}

.our-gallery .button-group,
.discover-videos .button-group {
    justify-content: flex-end;
}
.video-carousel {
    width: 1140px;
}
.video-slider {
    width: 300px;
}
.video-slider {
    width: 350px !important;
    position: relative;
    transition: all 0.3s ease;
}
.video-slider .video-name {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 1;
    line-height: 1;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--calibiri);
    letter-spacing: 1px;
    width: calc(100% - 40px);
    margin: 0;
    color: var(--whitenz);
    transform: translate(-50%, -10px);
    transition: all 0.3s ease;
}
.video-slider.swiper-slide-active .video-name {
    padding: 24px 20px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}
.video-slider .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.video-slider.swiper-slide-active .play-button {
    visibility: visible;
    opacity: 1;
}
.video-thumb {
    position: relative;
    width: 100%;
}
.video-slider::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 120px;
    width: 100%;
    background: var(--shadow-grad);
}
.story-card {
    position: relative;
    display: block;
    height: 100%;
}
.story-card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--shadow-grad);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.story-card .story-text {
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.story-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.our-gallery .slick-slide {
    margin: 0 10px;
}
.our-gallery .slick-list {
    margin: 0 -10px;
}
/* custom styling ends */
.gallery .col-lg-4:nth-child(2) .gallery-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    background-color: var(--shadow-grad);
}
.gallery-wrapper {
    position: relative;
    cursor: pointer;
}
.story-card:hover::after,
.story-card:hover .story-text,
.gallery-wrapper:hover .gallery-name,
.gallery-wrapper:hover::after {
    visibility: visible;
    opacity: 1;
}
.gallery-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: var(--shadow-grad);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.gallery-wrapper .gallery-name {
    position: absolute;
    left: 20px;
    bottom: 10px;
    z-index: 1;
    color: var(--whitenz);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.gallery-wrapper .gallery-name h5 {
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
}
.gallery-wrapper img {
    width: 100%;
}
.gallery-pagination {
    display: none;
}
.newsletter-form .form-control {
    padding: 0 60px 0 0;
}
.newsletter-form button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border: none;
    height: 40px;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-form button img {
    width: 25px;
}
/* index ends */
/* footer starts */
.footer-row {
    display: flex;
    flex-wrap: wrap;
}
.footer-col:first-child {
    flex: 0 0 34%;
}
.footer-col:first-child img {
    height: 50px;
}
.footer_socials {
    display: none;
}
.footer-col {
    flex: 0 0 22%;
    padding-right: 50px;
}
.footer-heading {
    line-height: 1;
    color: var(--whitenz);
    text-transform: uppercase;
    font-weight: 700;
}
.footer-list a {
    display: block;
    font-family: var(--jakarta);
    color: var(--para-color);
    margin-bottom: 10px;
}
.copyright {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.copyright p {
    font-weight: 300;
    font-family: var(--nunito);
}
.copyright .social-icons a {
    color: var(--whitenz);
}
.copyright-row .cp-left,
.copyright-row .cp-right {
    flex: 0 0 50%;
}
.copyright-row .cp-right {
    display: flex;
    justify-content: flex-end;
}
/* footer ends */
@media (min-width: 320px) and (max-width: 480px) {
    body {
        background-color: var(--body-colorsm);
    }
    .section-heading-row .col-lg-4 {
        display: none;
    }
    /* utils */
    h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29.3px;
        font-style: normal;
    }
    .bottom-text {
        font-size: 12px;
        line-height: 22px;
    }
    .hero-heading {
        font-size: 38px;
        line-height: 50px;
        font-weight: 700;
    }
    .spacer-y {
        padding: 40px 16px;
    }
    .mt-60 {
        margin-top: 20px;
    }
    .primary-button,
    .secondary-button {
        font-size: 16px;
        padding: 13px 46px;
    }
    /* utils ends */
    /* index */
    .hero {
        border-bottom: 1px solid rgba(18, 18, 18, 0.2);
    }
    .hero .hero-left {
        display: block;
        border: none;
    }
    .content-wrapper {
        padding: 0;
    }
    .content-wrapper p {
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        margin: 20px 0;
        color: var(--para-color);
    }
    .oval-circle::after {
        background-image: url(../images/circle-draw-sm.svg);
        top: -5px;
        left: -7px;
        height: 125%;
        width: 125%;
    }
    .slider-wrapper .button-group {
        justify-content: center;
        margin-top: 30px;
        position: relative;
        bottom: unset;
        right: unset;
    }
    .hero .slider-button {
        width: 45px;
        height: 45px;
        border: 1px solid var(--primary-color);
    }
    .hero .slider-button img {
        width: 20px;
    }
    .hero .slider-button:hover {
        border: 1px solid var(--yellownz);
    }
    .story-card .story-text {
        bottom: 9px;
        left: 9px;
    }
    .story-card .story-text h4 {
        font-size: 16px;
        line-height: 19.53px;
    }
    .story-card .story-text p {
        font-size: 12px;
        line-height: 15.12px;
    }
    .video-slider {
        width: 285px !important;
    }
    .video-slider .play-button img {
        width: 60px;
    }
    .video-slider.swiper-slide-active .video-name {
        padding: 0;
        border: 0;
        backdrop-filter: unset;
        background-color: transparent;
    }
    .video-slider .video-name {
        text-align: left;
    }

    .gallery-wrapper .gallery-name h5 {
        font-size: 16px;
    }
    .gallery-pagination {
        display: block;
        position: relative !important;
        bottom: 0 !important;
    }
    .gallery-pagination .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background-color: var(--primary-color);
        opacity: 0.2;
        border-radius: 8px;
        transition: all 0.3s ease;
    }
    .gallery-pagination .swiper-pagination-bullet-active {
        width: 20px;
        opacity: 1;
    }
    .newsletter {
        background-color: var(--news-colorsm);
    }
    .newsletter .spacer-y {
        padding-bottom: 0;
    }
    .newsletter-form {
        position: relative;
        margin-bottom: -33px;
    }
    .newsletter-form .form-control {
        height: 66px;
        padding: 24px 65.5px 24px 25px;
        background-color: var(--news-colorsm);
        border: none;
        box-shadow: 0px 67.1144px 109.061px rgba(0, 0, 0, 0.6);
    }
    .newsletter-form button {
        width: 52px;
        height: 50px;
        right: 8.5px;
    }
    /* index ends */
    /* footer */
    .footer .spacer-y {
        padding: 73px 16px 40px 16px;
    }
    .footer-col:first-child,
    .footer-col {
        flex: 0 0 100%;
        padding: 0;
        margin-bottom: 40px;
    }
    .footer-col {
        flex: 0 0 50%;
    }
    .footer-col:last-child {
        flex: 0 0 100%;
        margin-bottom: 0;
    }
    .footer-col:first-child img {
        height: 30px;
    }
    .footer-list a {
        font-size: 12px;
        line-height: 25px;
        margin-bottom: unset;
    }
    .footer_socials {
        margin-top: 20px;
        gap: 10px !important;
        display: flex;
    }
    .footer_socials a {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--whitenz);
    }
    .copyright {
        text-align: center;
        border: none;
        background-color: var(--copy-colorsm);
    }
    .copyright .social-icons a  {
        display: none;
    }
    .copyright-row {
        padding: 16px 0 !important;
    }
    .copyright-row .cp-left, 
    .copyright-row .cp-right {
        flex: 0 0 100%;
    }
    .copyright-row .cp-right {
        display: none;
    }
    
    /* footer ends */
}